@import '../../../styles/settings.scss';

.root {
  padding: 0 $container-padding;
  font-family: $drink-product-font;
  font-size: 1.5rem;
  color: $color-main;

  .bordered {
    border-radius: 30px;
    border: 2px solid $color-main;
    overflow: auto;

    .wrapper {
      height: 85%;

      > div {
        display: inline-block;

        h3 {
          text-align: center;
          margin-bottom: 20px;
          font-style: italic;
        }

      }
    }
  }


}
