@import '../../../styles/settings.scss';

.root {
  padding: 0 $container-padding;
  display: flex;
  flex-wrap: wrap;
  height: 90px;
  z-index: 1000;
  position: fixed;
  width: 100%;
  background: white;
  margin-top: -90px;

  > div {
    height: 100%;
    width: 30%;
  }

  .logoWrappper {
    width: 200px;
    text-align: center;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;

    .logOut {
      display: inline-block;
      background: $color-main;
      padding: 5px;
      color: white;
      font-weight: bold;
      font-size: 15px;
    }

    .logOut:hover {
      background: yellow;
      background: $color-googlebtn;
        box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    }
  }

  .basketWrapper {
    display: flex;
    align-items: center;
    position: relative;
    background: $color-main;
    border-radius: 10px;
    width: 100%;

    > i {
      color: white;
      position: absolute;
      right: 0;
      margin-right: 10px;
      font-size: 40px;
    }
  }
}


@media (max-width: 1200px) {
  .root {
    height: 160px;

    .logoWrappper {

      img {
        width: auto;
      }
    }

    .basketWrapper {
      height:  50px;
    }

    > div {
      height: 90px;
    }
  }
}


@media (max-width: 576px) {
  .root {
    height: 200px;
    margin-top: -200px;
    display: block;

    > div {
      height: 40px;
      margin: 10px auto;

      i {
        font-size: 20px;
      }
    }

    .logoWrappper {
      font-size: 10px;
    }
  }
}
