$base-size: 12px;
$container-padding: 15%;

/* Colors */
$color-red: #c1282d;
$color-green: #8dc641;
$color-orange: #fbb03b;
$color-purple: #512469;
$color-googlebtn: #DD4B39;

/* Fonts */
$quot-font: 'Courgette', cursive;

