@import '../../../styles/settings.scss';

.root {
  padding: 0 $container-padding;
  color: $color-main;

  .currencyFrom {
    position: absolute;
    bottom: 0;
    left: 132px;
  }

  .currencyTo {
    position: absolute;
    bottom: 0;
    left: 310px;
  }

  .productItem {
    height: 500px;
    padding: 15px;

    a {
      color: $color-main;
      text-decoration: none;
    }

    div {
      border-radius: 10px;
      border: 2px solid $color-main;
      height: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: auto;

      img {
        height: 50%;
        width: 100%;
        object-fit: cover;
        margin: 10px auto;
      }
    }

    h2 {
      text-align: center;
    }

    p {
      padding: 5px 10px;
      text-align: justify;
    }

    span {
      display: block;
      padding: 5px 10px;
    }
  }
}

@media (max-width: 419px) {

  .root {
    .currencyFrom {
      left: 132px;
      top: 25px;
    }

    .currencyTo {
      left: 133px;
    }
  }
}

