@import '../../../styles/settings.scss';

.root {
  background: $color-main;
  margin-top: 100px;
  padding: 0 $container-padding;
  color: white;

  h3 {
    text-align: center;
    margin: 20px auto;
  }

  ul {
    list-style: none;


    a {
      color: inherit;
      text-decoration: none;
      transition: all 0.5s;
      display: block;
      font-size: 16px;
      margin: 10px;
    }

    a:hover {
      font-size: 20px;
      transition: all 0.5s;
    }

    li {
      display: block;
      padding-left: 50px;
    }

    .mail {
      color: inherit;
      text-decoration: none;
      transition: none;
      font-size: 15px;
    }

    .mail:hover {
      transition: none;
      font-size: 15px;
    }
  }

  .copyrights {
    font-size: 13px;
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .root {
    font-size: 11px;
  }
}

@media (max-width: 350px) {
  .root {

    ul li {
      padding-left: 15px;
    }
  }
}
